<div class="container">
  <div class="row-fluid content second_block_non_index">
    <div class="headline">
      <h3>Онлайн заявка</h3>
    </div>
      <%= render 'form' %>
    </div>
  </div>
</div>