<div class="iframe_wrapper">
  <div id="tracking_iframe_div" style="overflow-y: scroll;">
    <iframe src="http://www.major-express.ru/trace.asp" id="tracking_iframe"  style="position: absolute;
      clip: rect(0px, 1000px, 850px, 0px);"></iframe>
  </div>
</div>