<%= form_for Invoice.new, url: search_invoices_path do |f| %>
  <div class="field">
    <%= f.label :number, 'Введите номер накладной Major Express Белгород' %>
    <%= f.text_field :number %>
  </div>

  <%= f.submit "Отправить" %>
<% end %>
