<h1>Состояние доставки</h1>
<div>
  Уважаемые Клиенты, теперь вы можете существенно сократить время,
  затрачиваемое на оформление отправок в экспресс-центрах.
</div>

<%= render 'search_form' %>

<%= render 'info_about_cargo' if @invoice and not @invoice.new_record? %>
