<header class="header">
  <div class="wrapper">
  	<script src="http://www.comtube.com/button_template.php?hash=TrENcpxKe6OrzyacwbvgTA" charset="utf-8" type="text/javascript">
  	</script>
    <div class="row-fluid">
      <div class="span12">
        <%= render 'shared/menu' %>   
        <%= yield(:header) if content_for?(:header) %>   
    </div>
  </div>
</header>
