<div class="logo">
  <a href="#"><%= image_tag("logo.png", alt: "") %></a>
</div><!-- /logo -->
<div class="header_top_call_us_resp">
  <%= image_tag("call_us_free.png", alt: "", class: "header_top_call_us_logo") %>
</div>

<div class="header_top_phone">
  <div class="header_top_phone_number">
    <p>+7 (4722) 20-74-84</p>
  </div>
  <div class="header_top_phone_logo">
    <%= image_tag("phone_handle.png", alt: "") %>
  </div>
</div>
<div class="header_top_call_us">
  <%= image_tag("call_us_free.png", alt: "", class: "header_top_call_us_logo") %>
</div>