<div class="navbar">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a><!-- /nav-collapse -->
    <div class="nav-collapse collapse">
      <ul class="nav top-2">
        <% Page.roots.visible.each do |page| %>
          <%= render 'shared/menu/item', page: page %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
