<div class="wrapper">
  <div class="container">
    <div class="headline">
      <h3>Контакты</h3>
    </div>
    <div class="row-fluid content content_text">
      <%= raw @page.content %>
    <!--</div>-->
    <!--<div class="company_info">-->
      <!--<div class="first_affiliate"><span> 308023, г.Белгород, ул.Железнякова,-->
        <!--д.14Б<br />тел: 8(4722) 20-74-84 (многоканальный)<br />-->

<!--500-684, 500-668 <br />тел/факс: 8(4722)34-92-07<br />-->
<!--E-mail: bks31@yandex.ru-->

<!--</span></div>-->
      <!--<div class="second_affiliate"><span>Старый Оскол, ул Прядченко, д.118 оф 34<br />-->

<!--тел: 8(4725) 41-54-54<br /> icq:357722404</span></div>-->
    <!--</div>-->

    <!--<div class="maps_container">-->
      <!--<div id="map1">-->
      <!--</div>-->
      <!--<div id="map2"></div>-->
    <!--</div>-->
    <!--<div>-->
      <%= render "shared/feedback" %>
    </div>
  </div>
</div>