<div class="container">
  <div class="indexes_wrapper container">
    <div class="indexes_iframe_container">
      <iframe src="http://индексы-россии.рф/"  class="indexes_iframe"></iframe>
    </div>
  </div>
</div>