<div class="wrapper">
  <div class="container">
    <div class="headline">
      <h3><%= @page.name %></h3>
    </div>
    <div class="row-fluid content content_text">
      <%= raw @page.content %>
    </div>
    <%= render "pages/price_calculator" %>
  </div>
</div>
