<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>Услуги</h3>
      </div>
      <div class="services_padding_div"></div>
      <div class="services_headers">
        <% if @page.parent && @page.parent.slug == "services" %>
            <% @page.parent.children.each do |child| %>
                <li class="services">
                  <% if child != @page %>
                    <%= link_to content_tag(:span, child.name), slug_path(child),
                    :class => (menu_item_state(child).to_s + "hover-effect") %>
                  <% else %>
                    <span class="text_bold"> <%= child.name %> </span>
                  <% end %>
                </li>
            <% end %>
        <% end %>
      </div>
      <div class="services_content">
        <%= raw @page.content %>
      </div>
    </div>
  </div>
</div>

