<div class="container">
  <div class="headline">
    <h3>Новости</h3>
  </div>
  <% @news_pages.each do |news| %>
    <h4><%= link_to news.title, news_page_path(news), class: "hover-effect news_header" %></h4>
    <div class="news_image_container">
    <%= image_tag news.image.thumb.url, class: "news_small_image" %><br/>
    </div>
    <div class="content_text news">
      <span><%= news.description %></span>
    </div>
    <div class="clear_news"></div>
    <div class="news_cussion"></div>
  <% end %>
  </div>
</div>
