<div class="span4">
  <div class="footer_contact">
    <h2 class="footer_contact_header">Контакты&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <p class="footer_contact_paragraph">308023, г.Белгород, ул.Железнякова, д.14Б<br />
      тел: +7(4722) 20-74-84 (многоканальный)</p>
    <p class="footer_contact_paragraph">500-684, 500-668 тел/факс: +7(4722)34-92-07<br />
      E-mail: bks31@yandex.ru</p>
    <p class="footer_contact_paragraph"> г. Старый Оскол, ул. Прядченко, д. 118 (здание Офис-Центра), офис 34,
    3-й этаж</p>
    <p class="footer_contact_paragraph">тел: +7(4725) 41-54-54
    <div class="footer_contact_images_container">
      <a class="footer_facebook" href="#">
        <%= link_to image_tag("facebook_truck.png", class: "contact_image" , alt: ""),
                    "https://www.facebook.com/pages/Major-Express/512701895437742?fref=ts"  %>
      </a>
      <a class="footer_vk" href="#">
        <%= link_to image_tag("vk_truck.png", class: "contact_image" , alt: ""), "http://vk.com/club48370166"  %>
      </a>
      <a class="footer_odniklass" href="#">
        <%= link_to image_tag("odnoklass_truck.png", class: "contact_image" , alt: ""),
              "http://www.odnoklassniki.ru/group/52771321938153?st.cmd=altGroupMain&st.groupId=onfmwgpdsqkdlgiaww0raojphdlssjudoacyw&st._aid=UserGroups_MiniList_GroupPic1page" %>
      </a>
    </div>
  </div>

</div>