<div class="span4">
  <div class="footer_contact">
    <h2 class="footer_contact_header">Контакты&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <p class="footer_contact_paragraph">308023, г.Белгород, ул.Железнякова, д.14Б<br />
      тел: +7(4722) 20-74-84 (многоканальный)</p>
    <p class="footer_contact_paragraph">500-684, 500-668 тел/факс: +7(4722)34-92-07<br />
      E-mail: bks31@yandex.ru</p>
    <p class="footer_contact_paragraph"> г. Старый Оскол, ул. Прядченко, д. 118 (здание Офис-Центра), офис 34,
    3-й этаж</p>
    <p class="footer_contact_paragraph">тел: +7(4725) 41-54-54
    <div class="footer_contact_images_container">
      <% SocialNetwork.visible.each do |soc_net| %>
        <a class="footer_<%=soc_net.name.downcase  %>" href="#">
          <%= link_to image_tag("#{soc_net.logo}", class: "contact_image" , alt: ""),
                      "#{soc_net.url}", target:"_blank" %>
        </a>
      <% end %>
    </div>
  </div>

</div>