<div class="span4">
  <div class="footer_contact">
    <h2 class="footer_contact_header">Контакты&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <p class="footer_contact_paragraph">308023, г.Белгород, ул.Железнякова, д.14Б<br />
      тел: 8(4722) 20-74-84 (многоканальный)</p>
    <p class="footer_contact_paragraph">500-684, 500-668 тел/факс: 8(4722)34-92-07<br />
      E-mail: bks31@yandex.ru</p>
    <div class="footer_contact_images_container">
      <a class="footer_facebook" href="#">
        <%= image_tag ("facebook_truck.png"),class: "contact_image" , alt: "" %>
      </a>
      <a class="footer_vk" href="#">
        <%= image_tag ("vk_truck.png"), class: "contact_image" , alt: "" %>
      </a>
      <a class="footer_odniklass" href="#">
        <%= image_tag ("odnoklass_truck.png"), class: "contact_image" , alt: "" %>
      </a>
    </div>
  </div>
</div>