<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
        <p class="company">2013 &copy; Major Express.</p>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>