<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <p class="company">2015 &copy; Major Express.</p>
      </div>
      <div class="span4">
        <!-- Yandex.Metrika informer -->
        <div class="yandex_metrics_display" style="position: relative; width:81px; height:16px; border:0;">
          <a href="http://metrika.yandex.ru/stat/?id=22717399&amp;from=informer"
             target="_blank" rel="nofollow"><img src="http://bs.yandex.ru/informer/22717399/1_0_5E6773FF_3E4753FF_1_uniques"
                                                 style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" /></a>
        </div>
        <!-- /Yandex.Metrika informer -->


        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
          (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
              try {
                w.yaCounter22717399 = new Ya.Metrika({id:22717399,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true});
              } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/22717399" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>