<div class="span4 info_footer">
  <ul class="footer_ul main">
    <% Page.roots.visible.each do |page| %>
      <li class="footer_li">
        <% if page.children.any? %>
          <%= link_to raw(page.name), (page.slug == 'index') ? '/' : slug_path(page), :class => "footer_li_link" %>
          <ul class="footer_ul second">
          <% page.children.each do |child| %>
            <li class="footer_li">
              <%= link_to raw(child.name), slug_path(child), :class => "footer_li_link" %>
            </li>
          <% end %>
          </ul>
        </li>
        <% else %>
          <%= link_to raw(page.name), (page.slug == 'index') ? '/' : slug_path(page), :class => "footer_li_link" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>