<style type="text/css">

</style>
<div class='slider_ny_1 preload'>
  <div class='monkey'></div>
  <div class='gifts default moz ms webkit o'></div>
  <div class='logo_ny default moz ms webkit o'></div>
  <div class='express default moz ms webkit o'></div>
  <div class='slider_text default moz ms webkit o'></div>
  <div class='slider_site default moz ms webkit o'></div>
</div>
<!--
<script type="text/javascript">
function slide_in () {
  setTimeout(function(){
    $('.slider_text').animate({
      right: '38px',
      opacity: 1
      },2000, function() {
      $('.logo_ny').animate({
        left: '50px',
        opacity: 1
      },2000)
      $('.slider_site').animate({
        right: '83px',
        opacity: 1
      },2000,function(){
        $('.express').animate({
          right: '72px',
          opacity: 1
      },2000,function(){slide_out()})
      })
    })}, 6000)
}
function slide_out () {
  setTimeout(function(){
    $('.slider_text').animate({
      right: '6px',
      opacity: 0
      },2000, function() {
      $('.logo_ny').animate({
        left: '18px',
        opacity: 0
      },2000)
      $('.slider_site').animate({
        right: '124px',
        opacity: 0
      },2000,function(){
        $('.express').animate({
          right: '11px',
          opacity: 0
      },2000,function(){slide_in()})
      })
    })}, 6000)
}
$(document).ready(function(){
    slide_in()
})
</script> -->
<script type="text/javascript">
$(window).load(function() {
  $(".slider_ny_1").removeClass("preload");
});
</script>