<div class="da-slide">
  <a href="#" class="da-slider_content_link">
    <div class="slider_paragraph_first slider_banner">
      <h2><i><%= raw banner.paragraph(0) %></i></h2>
    </div>

    <div class="slider_paragraph_second slider_banner">
      <h2><i><%= raw banner.paragraph(1) %></i></h2>
    </div>

    <div class="slider_paragraph_third slider_banner">
      <h2><i><%= raw banner.paragraph(2) %></i></h2>
    </div>
    <div class="da-img"><%= image_tag("slider_rocket.png", alt: "", class: "slider_rocket") %></div>
  </a>
</div>