<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>О компании</h3>
      </div>
      <div class="content_text margin_workers_info">
        <p>ООО «Белгородская Курьерская Служба» была основана 03.10.2005 года и на сегодняшний день предоставляет собой компанию, специализирующуюся на предоставлении услуг по экспресс-доставке корреспонденции и грузов в любую точку мира.</p>
        <p class="text_bold">Высокий  уровень оказываемых услуг, кратчайшие сроки, гибкая ценовая политика,
          максимальная открытость и клиентоориентированность позволяют нам с уверенностью говорить о лучшем на сегодняшний день в Белгороде и Белгородской области соотношении цена/скорость/качество оказываемых услуг и завоевывать доверие компаний нашего региона.</p>
        <p>Компания «БКС» работает по агентскому договору с ООО «Мэйджор Экспресс» ("Major Express"), являясь ее официальным представителем на территории Белгородской области. Мэйджор Экспресс предоставляет услуги доставки "от двери до двери", используя собственную сеть региональных представительств на всей территории РФ.</p>
        <p>Компания «Major Express» является лицензиатом «Federal Express Corporation» и «Federal Express Europe Inc.» («FedEx») с 2007 г. «Major Express» осуществляет все работы, связанные с организацией отправок и доставок корреспонденции и грузов FedEx на территории Российской Федерации. «Major Express» предлагает широкий диапазон услуг международных экспресс-перевозок по всему миру, обеспечивая надежную и своевременную доставку отправлений и быстрое таможенное оформление.</p>
      </div>
      <div class="workers_container">
      <%= render 'list' %>
      </div>
    </div>
  </div>
</div>