<div class="wrapper">
  <div class="row-fluid content">
    <div>
      <h2>О компании</h2>
    </div>
    <div>
      Высокий  уровень оказываемых услуг, кротчайшие сроки, гибкая ценовая политика,
      максимальная открытость и клиентоориентированность позволяет нам с
      уверенностью говорить о лучшем на сегодняшний день в Белгороде и Белгородской
      области соотношении цена/скорость/качество оказываемых услуг и завоевывать
      доверие компаний нашего региона.
    </div>
    <%= render 'list' %>
  </div>
</div>