<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3> <%= raw @page.name %></h3>
      </div>
      <div class="row-fluid content content_text">
        <%= raw @page.content %>
      </div>
      <div class="workers_container">
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>