@import "compass/css3";

@mixin buttons(){
  @include button;
  &.orange { @include button($gradient-top-color:#feee63, $gradient-bottom-color:#f79623); }
  &.purple { @include button($gradient-top-color:#b099af, $gradient-bottom-color:#756474); }
}

@mixin button($width:159px, $height:35px, $innershadow-height:-3px, $gradient-top-color:rgba(154,161,176,1), $gradient-bottom-color:rgba(100,105,117,1)){
  $dropshadow-color: lighten($gradient-bottom-color, 15%);
  width:$width;
  height:$height;
  cursor:pointer;
  margin-bottom:14px;
  text-align:center;
  color:#666;
  font-size:16px;
  line-height:35px;
  @include text-shadow(1px 1px 1px rgba(255,255,255,.55));
  @include background-image(linear-gradient($gradient-top-color, $gradient-bottom-color));
  @include border-radius(7px);
  @include box-shadow(0px $innershadow-height 0px 0px darken($gradient-bottom-color, 10%) inset, 0px 1px 0px 0px rgba(255,255,255,.6) inset);
  border: 1px solid $dropshadow-color;
  background-color:$dropshadow-color;

  &:hover{
    @include background-image(linear-gradient(lighten($gradient-top-color, 4%), lighten($gradient-bottom-color, 4%)));
  }

  &:active{
    //@include background-image(linear-gradient($gradient-bottom-color, $gradient-top-color));
    @include box-shadow(0px 1px 0px 0px #fff, inset 0 0 10px rgba(0,0,0,.3));
  }
}


@mixin buttons2(){
  @include button_submit;
  &.orange { @include button_submit($gradient-top-color:#feee63, $gradient-bottom-color:#f79623); }
  &.purple { @include button_submit($gradient-top-color:#b099af, $gradient-bottom-color:#756474); }
}

@mixin button_submit($width:122px, $height:35px, $innershadow-height:-3px, $gradient-top-color:rgba(154,161,176,1), $gradient-bottom-color:rgba(100,105,117,1)){
  $dropshadow-color: lighten($gradient-bottom-color, 15%);
  width:$width;
  height:$height;
  cursor:pointer;
  margin-bottom:14px;
  text-align:center;
  color:#666;
  font-size:16px;
  line-height:30px;
  @include text-shadow(1px 1px 1px rgba(255,255,255,.55));
  @include background-image(linear-gradient($gradient-top-color, $gradient-bottom-color));
  @include border-radius(7px);
  @include box-shadow(0px $innershadow-height 0px 0px darken($gradient-bottom-color, 10%) inset, 0px 1px 0px 0px rgba(255,255,255,.6) inset);
  border: 1px solid $dropshadow-color;
  background-color:$dropshadow-color;

  &:hover{
    @include background-image(linear-gradient(lighten($gradient-top-color, 4%), lighten($gradient-bottom-color, 4%)));
  }

  &:active{
    //@include background-image(linear-gradient($gradient-bottom-color, $gradient-top-color));
    @include box-shadow(0px 1px 0px 0px #fff, inset 0 0 10px rgba(0,0,0,.3));
  }
}

@mixin buttons3(){
  @include button_free_call;
  &.reddish { @include button_free_call($gradient-top-color:#ffe760, $gradient-bottom-color:#f7961f); }
  &.purple { @include button_free_call($gradient-top-color:#b099af, $gradient-bottom-color:#756474); }
}

@mixin button_free_call($width:268px, $height:50px, $innershadow-height:-3px, $gradient-top-color:rgba(154,161,176,1), $gradient-bottom-color:rgba(100,105,117,1)){
  $dropshadow-color: lighten($gradient-bottom-color, 15%);
  width:$width;
  height:$height;
  cursor:pointer;
  margin-bottom:14px;
  text-align:center;
  color:#666;
  font-size:16px;
  line-height:30px;
  @include text-shadow(1px 1px 1px rgba(255,255,255,.55));
  @include background-image(linear-gradient($gradient-top-color, $gradient-bottom-color));
  @include border-radius(7px);
  @include box-shadow(0px $innershadow-height 0px 0px darken($gradient-bottom-color, 10%) inset, 0px 1px 0px 0px rgba(255,255,255,.6) inset);
  border: 1px solid $dropshadow-color;
  background-color:$dropshadow-color;

  &:hover{
    @include background-image(linear-gradient(lighten($gradient-top-color, 8%), lighten($gradient-bottom-color, 8%)));
  }

  &:active{
    //@include background-image(linear-gradient($gradient-bottom-color, $gradient-top-color));
    @include box-shadow(0px 1px 0px 0px #fff, inset 0 0 10px rgba(0,0,0,.3));
  }
}


@mixin buttons4(){
  @include button_courier;
  &.yellow { @include button_courier($gradient-top-color:#f4e156, $gradient-bottom-color:#ecae29); }
  &.purple { @include button_courier($gradient-top-color:#b099af, $gradient-bottom-color:#756474); }
}

@mixin button_courier($width:268px, $height:50px, $innershadow-height:-3px, $gradient-top-color:rgba(154,161,176,1), $gradient-bottom-color:rgba(100,105,117,1)){
  $dropshadow-color: lighten($gradient-bottom-color, 15%);
  width:$width;
  height:$height;
  cursor:pointer;
  margin-bottom:14px;
  text-align:center;
  color:#666;
  font-size:16px;
  line-height:30px;
  @include text-shadow(1px 1px 1px rgba(255,255,255,.55));
  @include background-image(linear-gradient($gradient-top-color, $gradient-bottom-color));
  @include border-radius(7px);
  @include box-shadow(0px $innershadow-height 0px 0px darken($gradient-bottom-color, 10%) inset, 0px 1px 0px 0px rgba(255,255,255,.6) inset);
  border: 1px solid $dropshadow-color;
  background-color:$dropshadow-color;

  &:hover{
    @include background-image(linear-gradient(lighten($gradient-top-color, 8%), lighten($gradient-bottom-color, 8%)));
  }

  &:active{
    //@include background-image(linear-gradient($gradient-bottom-color, $gradient-top-color));
    @include box-shadow(0px 1px 0px 0px #fff, inset 0 0 10px rgba(0,0,0,.3));
  }
}


