@import "compass/css3";
@import 'buttons';
h3{
  line-height: 18px;
}



.headline h3 {
  line-height: 40px!important;
  font-size: 24px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  color: #666;
  border-bottom:2px solid #e67e22;
}

.welcome_message_background {
  background:image-url("breadcrumbs.png") repeat;
  @include box-shadow(#dddddd 0 -1px 6px -1px inset);
  margin-bottom: 30px;
  border-top: 1px solid #ddd;

}
.welcome_message {
  padding-top: 12px;
  margin-left: 96px;
}


.welcome_message_header {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 34px;
  color: #f7941f;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .welcome_message {
    margin-left: 20px;
  }
  .welcome_message_header {
    //line-height: 40px;
    font-size: 23px;
  }

}

.welcome_message p {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.welcome_message_end {
  margin-top: -11px;
}

.content_text {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
}

.service_icon {
  float: left;
  width: 20%;
}

.service .desc {
  min-width: 77%;
}

.desc_header {
  height: 55px;
  overflow: hidden;
}
.desc_header h4 {
  margin-top: 0px;
}
.desc_content {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #666;
}
.thumbnail-style a.btn-more {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #fff;
}
.thumbnail-style h3 a {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #666;
}
.button{
  @include buttons;
}

.button.comment {
  float: right;
  text-decoration: none;
}


///// REVIEW FORM /////
.review_form_container {
  position: relative;
  width: 448px;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  right: 60px;
}

.field_name {
  float: left;
  clear: both;
}
.text_field {
  float: right;
}
.message {
  clear: both;
  margin-left: 120px;
  color: red;
}

.field_name  {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 34px;
}

.field_container .text_field {
  @include border-radius(8px);
  width: 325px;
  height: 34px!important;
  padding: 0!important;
  //margin-bottom: 8px;

}

.text_field.area {
  height:164px !important;
  resize: none;

}
.text_field {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
}

.field_container {
  min-height: 34px;
}

.field_container.textarea {
  min-height: 208px;
}

.field_container.textarea .text_field.area {
  vertical-align: text-top;
}

.submit_container {
  width: 325px;
  float: right;
}

.submit_button {
  display: block;
  @include buttons2;
  margin: 0 auto;
}

///////////FORM//////////////

////////////Review////////////

.review_buffer {
  height: 50px;
  //background-color: red;
}


.clear_review_list {
  height: 35px;
  clear: both;
}

.review_list_container {
  display: table;
  list-style-type: none;
}
.review_field_container {
  display: table-row;

  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}


.review_item_content {
  display: table-cell;
  position: relative;
  min-height: 115px;
  border: 1px solid #bfbfbf;
  @include border-radius(8px);
  @include box-shadow(#c9c9c9 1px 2px 11px -1px);
}
.review_item_content.left {
  margin-left: 137px;
}
.review_item_content.left.logos {
  margin-left: 87px;
}

.review_item_content.right {
  margin-right: 137px;
}
.review_item_content.right.logos {
  margin-right: 87px;
}

.review_item_content.right .content_text {
  margin: 10px 45px 10px 35px;
}
.review_item_content.left .content_text {
  margin: 10px 35px 10px 45px;
}

.content_box_arrow.left {
  position: absolute;
  right: -14px;
  top: 0px;
  width: 20px;
  height: 100%;
  background: image-url('review_arrow_right.png') no-repeat;
  background-position: 100% 52%;
}
.content_box_arrow.right {
  position: absolute;
  left: -14.2px;
  top: 0px;
  width: 20px;
  height: 100%;
  background: image-url('review_arrow_left.png') no-repeat;
  background-position: 100% 50%;
}

.review_item_content.left {;
  float: left;

}
.review_item_content.right {
  float: right;

}
.review_logo_container {
  display: table-cell;
  vertical-align: middle;
}


.review_logo_container.logos {
  min-width: 145px;
}

.review_logo_container.left .review_logo {
  float: right;
  margin-right: 45px;;
}
.review_logo_container.right .review_logo {
  float: left;
  margin-left: 45px;

}

.review_item_author_wrapper.left {
  display: table-cell;
  vertical-align: middle;
  padding-right: 47px;
  padding-left: 10px;
}
.review_item_author_wrapper.left.logos {
  display: table-cell;
  vertical-align: middle;
  padding-right: 32px;
}

.review_item_author_wrapper.right {
  display: table-cell;
  vertical-align: middle;
  padding-left: 47px;
  padding-right: 10px;
}

.review_item_author_wrapper.right.logos {
  display: table-cell;
  vertical-align: middle;
  padding-left: 32px;
}

.review_item_author {
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}
.review_caption {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px!important;
  font-style: italic;
  white-space: nowrap;
}
.review_company {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px!important;
  font-style: italic;
}

.indented {
  font-weight: bold;
}

li.services {
  list-style-type: none;
}
.flash_notice {
  position: relative;
  top: 30px;
  //margin: 0 auto;
  display: block;
  //width: 200px;
  //margin-right: auto;
  //margin-left: auto;
  text-align: center;
  color: red;
  //background-color: green;
}
//////////////Services//////////////

.services_padding_div {
  height: 10px;
}
.services_headers {
  width:270px;
  height: 130px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  float: left;
  margin-left: 15px;
}
.services_content {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  width: 733px;
  float: left;
  margin-left: 45px;
}


@media (max-width:1200px) {
  .services_content {
    width: 600px;
    float: right;
  }
}

@media (max-width:1000px) {
  .services_content {
    width: 380px;
    float: right;
  }
}

@media (max-width:700px) {
  .services_headers {
    margin: 0px;
    width: 100%;
  }
  .services_content {
    margin: 0px;
    width: 100%!important;

  }
  .services_content {
    width: 380px;
    float: right;
  }
}

////////////////////////////////////
.text_bold {
  font-weight: bold;
}
///////////////Workers//////////////
.margin_workers_info {
  margin-left: 15px;
}
.workers_container {
  margin-top: 87px;
  margin-bottom: 110px;
}
.worker {
  list-style-type: none;
  margin-left: 94px;
}
.worker_attribute_photo {
  float: left;
}
.worker_info {
  float: left;
}
.clear_workers {
  height: 27px;
  clear: both;
}
.worker_photo {
  @include border-radius(8px);
  border: 1px solid #bfbfbf
}
.worker_info {
  margin-top: 2px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px;
  margin-left: 68px;
}
.worker_attribute_first_name,
.worker_attribute_last_name,
.worker_attribute_patronymic,{
  display: inline;
}

.worker_attribute_first_name,
.worker_attribute_last_name,
.worker_attribute_patronymic,
.worker_attribute_job,
.worker_attribute_phone{
  line-height: 37px;
}

////////FEEDBACK FORM////////////
.feedback_form_container {
  position: relative;
  width: 448px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.feedback.text_field {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
  @include border-radius(8px);
  margin-left: -15px;
  width: 490px;
  height: 34px!important;
  padding: 0!important;
  float: none;
}

.feedback.text_area {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
  margin-left: -15px;
  width: 490px;
  height:200px !important;
}

.submit_button {
  display: block;
  @include buttons2;
  margin: 0 auto;
}
.feedback .message {
  margin-left: 0px;
}



.cussion {
  height: 90px;
}
/////////feedback form////////

/////////Courier Form////////
.courier_from {
  width: 700px;
  margin: 0 auto;
}

.courier_from h3 {
  //margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.bold_courier {
  font-weight: bold;
}

.select_field {
  float: right;
}
.pickup_delivery_date {
  float: right;
}
.clear_courier_one {
  height: 1px;
  clear: both;
}

.clear_courier {
  height: 15px;
  clear: both;
}

.courier_field_container {
  min-height: 34px;
}

.courier_field_container .text_field {
  @include border-radius(8px);
  width: 336px;
  height: 34px!important;
  padding: 0!important;
  //margin-bottom: 8px;

}

.pickup_delivery_date select {
  width: 110px;
}
.select_field.wide {
  width: 338px;
}
