@import "compass/css3";
@import 'buttons';
h3{
  line-height: 18px;
}
body, html {
  height: 100%;
}
.container.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  //margin: 0 auto -150px;
  width: 100%;
}

.headline h3 {
  line-height: 40px!important;
  font-size: 24px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  color: #666;
  border-bottom:2px solid #e67e22;
}
.da-slider {
  border-bottom: 1px solid #ddd!important;

}
.slider_paragraph_first, .slider_paragraph_second,
.slider_paragraph_third{
   margin-top: -100px;
}

.welcome_message_background {
  @include box-shadow(#dddddd 0 -1px 6px -1px inset);
  margin-bottom: 30px;
  border-top: 1px solid #ddd;

}
.welcome_message {
  padding-top: 12px;
  margin-left: 96px;
  padding-bottom: 15px;
}


.welcome_message_header {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 34px;
  color: #f7941f;
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .welcome_message {
    margin-left: 20px;
  }
  .welcome_message_header {
    //line-height: 40px;
    font-size: 23px;
  }

}

.welcome_message p {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.welcome_message_end {
  margin-top: -11px;
}

.content_text {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
}

.service_icon {
  float: left;
  width: 20%;
}

.service .desc {
  min-width: 77%;
}

.desc_header {
  height: 55px;
  overflow: hidden;
}
.desc_header h4 {
  margin-top: 0px;
}
.thumbnail-style a.btn-more {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #fff;
}
.thumbnail-style h3 a {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #666;
}
.button{
  @include buttons;
}

.button.comment {
  float: right;
  text-decoration: none;
}


///// REVIEW FORM /////
.review_form_container {
  position: relative;
  width: 448px;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  right: 60px;
}

.field_name {
  float: left;
  clear: both;
}
.text_field {
  float: right;
}
.message {
  position: relative;
  clear: both;
  margin-left: 123px;
  top: -8px;
  color: red;
  font-size: 13px;
}

.field_name  {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 34px;
}

.field_container .text_field {
  @include border-radius(8px);
  width: 325px;
  height: 34px!important;
  @include box-sizing(border-box);
  padding: 0 7px!important;
  //margin-bottom: 8px;

}

.text_field.area {
  height:164px !important;
  resize: none;
  @include box-sizing(border-box);
  padding: 6px 7px!important;

}
.text_field {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
}

.field_container {
  min-height: 34px;
}

.field_container.textarea {
  min-height: 208px;
}

.field_container.textarea .text_field.area {
  vertical-align: text-top;
}

.submit_container {
  width: 325px;
  float: right;
}

.submit_button {
  display: block;
  @include buttons2;
  margin: 0 auto;
}

///////////FORM//////////////
////////////Courier

////////////Review////////////

.review_buffer {
  height: 50px;
  //background-color: red;
}


.clear_review_list {
  height: 35px;
  clear: both;
}

.review_list_container {
  display: table;
  list-style-type: none;
}
.review_field_container {
  display: table-row;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}


.review_item_content {
  display: table-cell;
  position: relative;
  min-height: 115px;
  border: 1px solid #bfbfbf;
  @include border-radius(8px);
  @include box-shadow(#c9c9c9 1px 2px 11px -1px);
}
.review_item_content.left {
  margin-left: 137px;
}
@media (max-width:300px) {
  .review_item_content.left {
    margin-left: 0px;
  }
}
.review_item_content.left.logos {
  margin-left: 87px;
}

.review_item_content.right {
  margin-right: 137px;
}
.review_item_content.right.logos {
  margin-right: 87px;
}

.review_item_content.right .content_text {
  margin: 10px 45px 10px 35px;
}
.review_item_content.left .content_text {
  margin: 10px 35px 10px 45px;
}

.content_box_arrow.left {
  position: absolute;
  right: -14px;
  top: 0px;
  width: 20px;
  height: 100%;
  background: image-url('review_arrow_right.png') no-repeat;
  background-position: 100% 52%;
}
.content_box_arrow.right {
  position: absolute;
  left: -14px;
  top: 0px;
  width: 20px;
  height: 100%;
  background: image-url('review_arrow_left.png') no-repeat;
  background-position: 100% 50%;
}

.review_item_content.left {;
  float: left;

}
.review_item_content.right {
  float: right;

}

@media (max-width:900px) {

  .review_item_content.left {;
    float: none;

  }
  .review_item_content.right {
    float: none;

  }
}

.review_logo_container {
  display: table-cell;
  vertical-align: middle;
}


.review_logo_container.logos {
  min-width: 145px;
}

.review_logo_container.left .review_logo {
  float: right;
  margin-right: 45px;;
}
.review_logo_container.right .review_logo {
  float: left;
  margin-left: 45px;

}

.review_item_author_wrapper.left {
  display: table-cell;
  vertical-align: middle;
  padding-right: 47px;
  padding-left: 10px;
}
.review_item_author_wrapper.left.logos {
  display: table-cell;
  vertical-align: middle;
  padding-right: 32px;
}

.review_item_author_wrapper.right {
  display: table-cell;
  vertical-align: middle;
  padding-left: 47px;
  padding-right: 10px;
}

.review_item_author_wrapper.right.logos {
  display: table-cell;
  vertical-align: middle;
  padding-left: 32px;
}
@media (max-width:750px) {

.review_field_container {
  display: block;
}

.review_item_author_wrapper.left,
.review_item_author_wrapper.right,
.review_logo_container.right,
.review_logo_container.left {
  display: none!important;
}
.responsive_review {
  display: block;
  clear: both;
}
.clear_review_list {
  display: none;
}
.review_caption, .review_company {
  font-weight: bold;
}
.content_box_arrow {
  display: none;
}

}

@media (min-width:750px) {
//.review_item_author_wrapper.small {
//  display: none!important;
//  background-color: red;
//}
.responsive_review {
  display: none;
}

}
.review_item_author {
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}
.review_caption {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px!important;
  font-style: italic;
  white-space: nowrap;
}
.review_company {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px!important;
  font-style: italic;
}

.indented {
  font-weight: bold;
}

li.services {
  list-style-type: none;
}
.flash_notice {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 15px;
  position: relative;
  top: 30px;
  display: block;
  text-align: center;
  color: #F7941F;
}
//////////////Services//////////////

.services_padding_div {
  height: 10px;
}
.services_headers {
  width:270px;
  min-height: 240px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px;
  float: left;
  margin-left: 15px;
  width: 317px;
}
.services_headers span {
   display: inline-block;
    line-height: 35px;
}
.services_headers a {
  text-decoration: none;
}
.text_under {
  border-bottom: 2px solid #e67e22;
}
.clear_div {
  clear: both;
}
.services_content {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  width: 832px;
  float: right;
}
.intro_services_content {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  width: 832px;
  float: right;
}


@media (max-width:1200px) {
  .services_content {
    width: 600px;
    float: right;
  }
}

@media (max-width:1000px) {
  .services_content {
    width: 380px;
    float: right;
  }
}

@media (max-width:700px) {
  .services_headers {
    margin: 0px;
    width: 100%;
  }
  .services_content {
    margin: 0px;
    width: 100%!important;

  }
  .services_content {
    width: 380px;
    float: right;
  }
}

////////////////////////////////////
.text_bold {
  font-weight: bold;
}
///////////////Workers//////////////
.margin_workers_info {
  margin-left: 15px;
}
.workers_container {
  margin-top: 87px;
  margin-bottom: 110px;
  width: 600px;
  float: left;
}
.worker {
  list-style-type: none;
  margin-left: 94px;
}
.worker_attribute_photo {
  float: left;
}
.worker_info {
  float: left;
}
.clear_workers {
  height: 27px;
  clear: both;
}
.worker_photo {
  @include border-radius(8px);
  border: 1px solid #bfbfbf
}
.worker_info {
  margin-top: 2px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px;
  margin-left: 68px;
}
@media (max-width: 530px) {
  .worker {
    margin-left: 20px;
  }
  .worker_info {
    margin-left: 50px;
  }
}
@media (max-width: 440px) {
  .worker {
    margin-left: 20px;
  }
  .worker_info {
    margin-left: 0px;
  }
}
.worker_attribute_first_name,
.worker_attribute_last_name,
.worker_attribute_patronymic,{
  display: inline;
}

.worker_attribute_first_name,
.worker_attribute_last_name,
.worker_attribute_patronymic,
.worker_attribute_job,
.worker_attribute_phone{
  line-height: 37px;
}

////////FEEDBACK FORM////////////
.feedback_form_container {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.feedback_form_container .message {
  margin-left: -13px;
}

.feedback.text_field {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
  @include border-radius(8px);
  @include box-sizing(border-box);
  padding: 0 7px!important;
  margin-left: -15px;
  width: 490px;
  height: 34px!important;
  float: none;
}

.feedback.text_area {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 16px!important;
  @include border-radius(8px);
  @include box-sizing(border-box);
  padding: 6px 7px;
  margin-left: -15px;
  width: 490px;
  height:200px !important;
}

.submit_button {
  display: block;
  @include buttons2;
  margin: 0 auto;
}



.cussion {
  height: 90px;
  //background-color: red;
}
/////////feedback form////////

/////////Courier Form////////
.courier_from {
  width: 700px;
  margin: 0 auto;
}
.courier_from h3 {
  //margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.bold_courier {
  font-weight: bold;
}
.select_field {
  float: right;
}
.pickup_delivery_date {
  float: right;
}
.clear_courier_one {
  height: 1px;
  clear: both;
}
.clear_courier {
  height: 15px;
  clear: both;
}

.courier_field_container {
  min-height: 34px;
}
.courier_field_container .text_field {
  @include border-radius(8px);
  width: 336px;
  height: 34px!important;
  padding: 0 7px!important;
  @include box-sizing(border-box);
  //padding: 0!important;
}
.courier_field_container .message {
  margin-left: 365px;
}
.pickup_delivery_date select {
  width: 110px;
}
.text_field.time_start,
.text_field.time_end{
  width: 160px!important;
}
.text_field.time_end {
  margin-left: 16px;
}
.field_name.time_span {
  float: left;
  display: block;
  width: auto;
}

.select_field.wide {
  width: 338px;
}

.courier_comment.text_field {
  height: 100px!important;
  resize: none;
  padding: 6px 7px!important;
  @include box-sizing(border-box);
}
@media(max-width: 500px) {
.field_name.courier {
  float:none;
}
.text_field.courier {
  float:none;
}
.select_field.courier {
  float: none;
}
.pickup_delivery_date {
   float: none;
}
.pickup_delivery_date select {
  width: 109px;
}
.courier_from {
  width: 335px;
}
.courier_from h3 {
  line-height: 30px;
}

}


/////////Courier Form////////


/////////News/////////////////
.news.headline {
  margin: 0;
}
.news_cussion {
  height: 30px;
}
.news_small_image {
  margin-bottom: 15px;
}
.news_image_container {
  float: left;
}
.content_text.news {
  margin-left: 100px;
  width: 800px;
  float: left;
}
.clear_news {
  clear: both;
}

.news_header {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  color: #666!important;
  font-size: 21px;
  //font-weight: bold!important;
}

.news_page_title_main {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 18px!important;
}

.news_header.show {
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 18px;
}
.desc_content {
  margin-top: 3px;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 14px;
  color: #666;
}

#habla_window_div {
  margin: 0px 65px!important;
}

//////////////////Delivery status/////////////////
.field_container.delivery {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
}
.field_container.delivery .field_name {
  font-size: 14px;
}
.delivery .text_field  {
  font-size: 14px!important;
}
.content_text.delivery_header {
  font-size: 16px;
}
.field_container.delivery .field_name {
  margin-left: 0px;
  float: none;
}
.delivery .text_field {
  float: none;
}
.field_container .text_field{
  display: block;
  margin: 0 auto;
}
.field_container .field_name {
  text-align: center;
}
.cargo_info {
  margin: 0 auto;
  height: 200px;
  width: 325px;
}
.cargo_info h4 {
  text-align: center;
}

.invoice_info_container {
  font-size: 14px;
}

.invoice_info_container .value{
  float: right;
}



/////////////////Price of delivery//////////////////
.calculator_container {
  width: 450px;
  margin: 40px auto 50px;
}
.delivery_price_container {
  text-align: center;
  font-size: 18px;
}
.checkboxes {
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 7px;
}
.weight_input input[type="text"] {
  height: 24px!important;
  @include border-radius(8px);
  //padding: 0px!important;
}
.checkboxes input[type="radio"] {
  position: relative;
  vertical-align: middle;
  bottom: 3px;
  margin: 0px!important;
}
.checkboxes input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
  margin: 0px!important;
}
.weight_input {
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 450px) {
  .calculator_container {
    width: auto;
  }
  #delivery_country_from {
    display: block;
    margin: 0 auto;
  }
  #delivery_country_to {
    display: block;
    margin: 0 auto;
  }
  .calculator_container {
    text-align: center;
  }
  #payment_by_client{
    display: block;
  }
}
/////////////////Price of delivery//////////////////


#topcontrol {
  bottom: 0px!important;
}

/////////////maps///////////
.company_info {
  display: table;
  width: 1140px;
  //height: 150px;
  margin: 0 auto;
  margin-top: 24px;
}
.first_affiliate {
  display: table-cell;
  padding-left: 11px;
  font-size: 15px;
  width: 570px;
}
.second_affiliate{
  display: table-cell;
  padding-left: 12px;
  font-family: Verdana,Geneva,Kalimati,sans-serif;
  font-size: 15px;
  width: 570px;
}
 .maps_container {
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
div#map1 {
  float: left;
  width: 560px;
  height: 300px;
}
div#map2 {
  //position: relative;
  float: right;
  width: 560px;
  height: 300px;
}
.form_margin {
    height: 30px;
}

////////////////tracking iframe////////////////////////

#tracking_iframe_div {
  width    : 530px;
  height   : 400px;
  overflow : hidden;
  position : relative;
  margin-left: auto;
  margin-right: auto;
}



#tracking_iframe {
  position : absolute;
  width    : 1280px;
  height   : 1280px;
  border   : none;
  left     : -332px;
  top      : -116px;
}


.iframe_wrapper  {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width  : 600px;
  height : 500px;
  overflow: hidden;

}
///////////////////////////////////////////////////////////////////
.iframe_container {
  top: 150px;
  margin: 0 auto;
  position: relative;
  //background-color: red;
  width: 400px;
  height: 349px;
  display: none;
}


.closing_cross {
  position: absolute;
  width: 27px;
  top: 7px;
  right: 7px;
  z-index: 10000;
  display: none;
}
