@import 'buttons';
.top {
    padding:7px 0 8px;
}

.header {
    z-index:999;
    position:relative;
    //min-height: 126px;
}
.header .container {
    position:relative;
    background: url(/assets/header_ny.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .header .container {
    width: 1060px;
  }
}
.header_top{
    position: relative;
    //background-color: rgba(0, 0, 255, 0.38);
    height: 118px;
}
@media (max-width: 600px) {
  .header_top {
    height: 86px;
  }
}

.logo {
    position: absolute;
    float: left;
    width: 33%;
    height: 1px;
    margin-top: 10px;
    z-index: 1000;
    margin-left: 32px;
}
.header_top_phone {
    margin-right: 10px;
    //position: absolute;
    //left: 27%;
    position: relative;
    float: right;
    width: 50%;
    height: 76px;
    z-index: 100;
    //background-color: yellow;
}

.header_top_call_us {
    position: relative;
    top: -5px;
    left: 79%;
    width: 270px;
    height: 78px;

}
.header_top_call_us_inside {
  position: relative;
  top: -5px;
  float: right;
  width: 270px;
  height: 78px;
}

@media (max-width: 979px) {
  .header_top_call_us_inside {
    display: none;
  }
  .header_top_phone {
    width: 100%;
  }

}
.header_top_call_us_outside {
  margin-right: 65px;
  float: right;
  margin-top: -5px;
  display: none;
}

@media (min-width: 1280px) {
  .header_top_call_us_inside {
    display: none;
  }
  .header_top_call_us_outside {
    display: block;
  }
}
.header_buttons_container {
  position: relative;
  height:78px;
  width: 270px;
  //overflow: hidden;
  left: 0px;
  top: 13px;
}

.courier_button_container {
  position: absolute;
  top: 42px;
  height: 36px;
  width: 270px;
  overflow: hidden;
  //background-color: yellow;
}

.button_call_us.reddish {
  position: absolute;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 11px!important;
  @include buttons3;
  top:-8px;
  z-index: 10;
}

.button_courier.yellow {
  position: absolute;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  color: #666;
  @include buttons4;
  font-size: 11px!important;
  top: -16px;
  z-index: 1;
}

.courier_call{
  position: absolute;
  left: 17px;
  top: 16px;
  width: 32px;
}
.call_us_span {
  position: relative;
  margin-top: 10px;
  left: 29px;
  font-size: 14px;
  margin-left: 28px!important;
  //right: 20px;
}
.call_us_span_inline {
  position: relative;
  margin-top: 3px;
  font-size: 14px;
  margin-left: 10px !important;
}

@media (max-width: 768px) {
  .call_us_span_inline {
      margin-left: 0px!important;
  }
}
.courier_span {
  color: #ffffff;
  text-shadow:
      -2px -2px 0 rgba(255, 0, 0, 0.50),
      2px -2px 0 rgba(255, 0, 0, 0.52),
      -2px 2px 0 rgba(255, 0, 0, 0.50),
    2px 2px 0 rgba(255, 0, 0, 0.51);
  position: relative;
  margin-top: 15px;
  left: 28px;
  font-size: 15px;
}
.courier_span.inline {
   margin-top: 3px;
   left: 0px;
   margin-left:0px;
   font-size: 13px;
   float: none ;
}
.buttons_line_container a:hover {
  text-decoration: none;
}
.freecall {
  position: absolute;
  left: 8px;
  top: 1px;
}
.courier_call {
  position: absolute;
  left: 17px;
  top: 15px;

}

.header_top_phone_number  {
  margin-right: -33px;
  float: right;
  font-family: Arial, verdana, sans-serif;
  font-size: 30px;
  color: #606060;
  width: 300px;
  float: right;
  line-height: 1.6em;
}
.header_top_phone_number p {
  float: right;
}

.header_top_phone_logo {
  position: relative;
  top:-3px;
  left: -3px;
  width: 200px;
  height: 64px;
  //background-color: rgba(0, 128, 0, 0.30);
  position: relative;
  float: right;
  margin-left: 24%;
}

.phone_handle {
  float: right;
}

.phone_uninumber {
  margin: 0;
  padding: 0;
  bottom: 16px;
  right: 77px;
  color: #ff9700;
  font-style: italic;
  font-size: 13px!important;
  position: absolute;
  font-family: Arial, verdana, sans-serif;
}
.header_top_call_us_resp {
  position: absolute;
}

.header_top_call_us_logo {
  margin-top: 10px;
  float: right;
}

@media (min-width:979px) {
  .header_top_call_us_resp {
      display: none;
  }
  .buttons_line_container {

  display: none;
  }
  .header_top {
    height: 80px;
  }
}
.buttons_line_container {
  height: 150px;
  width: 100%;
  //background-color: rgba(255, 0, 0, 0.42);
  position: absolute;
  left: 18%;
  width: 73%;
  z-index: 2000;
  top: 39px;
}
.button_one {
  @include buttons5;
  z-index: 999999;
  margin-top: 78px;
  //position: absolute;
  bottom:20px;
  //right: 3%;
  height: 41px;
  float: right;
}
.button_two {
  float: right;
  margin-top: 78px;
  margin-right: 14px;
  @include buttons5;
  z-index: 999999;
  //position: absolute;
  //bottom:20px;
  //right: 43%;
  height: 41px;
}
@media (max-width: 575px) {
  .button_one {
    margin-right: 0px;
    margin-top: 111px;
  }
  .button_two {
    margin-right: -195px;
  }
  .buttons_line_container {
    top: -21px;
  }
}
@media (max-width:600px) {
    .logo {
    }
    .header_top_call_us_inside {
        display: none;
    }
    .navbar .btn-navbar {
        float: left!important;
    }
    .header_top_phone_number  {
        margin-top: 12px;
        width: 200px;
        font-family: Arial, verdana, sans-serif;
        font-size: 20px;
        color: #606060;
    }
    .header_top_phone_logo {
        position: relative;
        float: left;
        margin-left: 28%;
        position: absolute;
        right:0px;
        top: 0px;
    }
}