@import 'buttons';
.top {
    padding:7px 0 8px;
}

.header {
    z-index:999;
    position:relative;
    //min-height: 126px;
}
.header .container {
    position:relative;
    background: url(/assets/header_ny.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .header .container {
    width: 1060px;
  }
}
.header_top{
    position: relative;
    //background-color: rgba(0, 0, 255, 0.38);
    height: 118px;
}
@media (max-width: 600px) {
  .header_top {
    height: 86px;
  }
}

.logo {
    position: absolute;
    float: left;
    width: 33%;
    height: 1px;
    margin-top: 10px;
    z-index: 1000;
    margin-left: 32px;
}
.header_top_phone {
    margin-right: 10px;
    //position: absolute;
    //left: 27%;
    position: relative;
    float: right;
    width: 50%;
    height: 76px;
    z-index: 100;
    //background-color: yellow;
}

.header_top_call_us {
    position: relative;
    top: -5px;
    left: 79%;
    width: 270px;
    height: 78px;

}
.header_top_call_us_inside {
  position: relative;
  top: -5px;
  float: right;
  width: 270px;
  height: 78px;
}

@media (max-width: 979px) {
  .header_top_call_us_inside {
    display: none;
  }
  .header_top_phone {
    width: 100%;
  }

}
.header_top_call_us_outside {
  margin-right: 65px;
  float: right;
  margin-top: -5px;
  display: none;
}

@media (min-width: 1280px) {
  .header_top_call_us_inside {
    display: none;
  }
  .header_top_call_us_outside {
    display: block;
  }
}
.header_buttons_container {
  position: relative;
  height:78px;
  width: 270px;
  //overflow: hidden;
  left: 0px;
  top: 13px;
}

.courier_button_container {
  position: absolute;
  top: 42px;
  height: 36px;
  width: 270px;
  overflow: hidden;
  //background-color: yellow;
}

.button_call_us.reddish {
  position: absolute;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  font-size: 11px!important;
  @include buttons3;
  top:-8px;
  z-index: 10;
}

.button_courier.yellow {
  position: absolute;
  font-family:Verdana,Geneva,Kalimati,sans-serif;
  color: #666;
  @include buttons4;
  font-size: 11px!important;
  top: -16px;
  z-index: 1;
}

.courier_call{
  position: absolute;
  left: 17px;
  top: 16px;
  width: 32px;
}
.call_us_span {
  position: relative;
  margin-top: 10px;
  left: 29px;
  font-size: 14px;
  margin-left: 28px!important;
  //right: 20px;
}
.call_us_span_inline {
  position: relative;
  margin-top: 3px;
  font-size: 14px;
  margin-left: 10px !important;
}

@media (max-width: 768px) {
  .call_us_span_inline {
      margin-left: 0px!important;
  }
}
.courier_span {
  color: #ffffff;
  text-shadow:
      -2px -2px 0 rgba(255, 0, 0, 0.50),
      2px -2px 0 rgba(255, 0, 0, 0.52),
      -2px 2px 0 rgba(255, 0, 0, 0.50),
    2px 2px 0 rgba(255, 0, 0, 0.51);
  position: relative;
  margin-top: 15px;
  left: 28px;
  font-size: 15px;
}
.courier_span.inline {
   margin-top: 3px;
   left: 0px;
   margin-left:0px;
   font-size: 13px;
   float: none ;
}
.buttons_line_container a:hover {
  text-decoration: none;
}
.freecall {
  position: absolute;
  left: 8px;
  top: 1px;
}
.courier_call {
  position: absolute;
  left: 17px;
  top: 15px;

}

.header_top_phone_number  {
  margin-right: -33px;
  float: right;
  font-family: Arial, verdana, sans-serif;
  font-size: 30px;
  color: #606060;
  width: 300px;
  float: right;
  line-height: 1.6em;
}
.header_top_phone_number p {
  float: right;
}

.header_top_phone_logo {
  position: relative;
  top:-3px;
  left: -3px;
  width: 200px;
  height: 64px;
  //background-color: rgba(0, 128, 0, 0.30);
  position: relative;
  float: right;
  margin-left: 24%;
}

.phone_handle {
  float: right;
}

.phone_uninumber {
  margin: 0;
  padding: 0;
  bottom: 16px;
  right: 77px;
  color: #ff9700;
  font-style: italic;
  font-size: 13px!important;
  position: absolute;
  font-family: Arial, verdana, sans-serif;
}
.header_top_call_us_resp {
  position: absolute;
}

.header_top_call_us_logo {
  margin-top: 10px;
  float: right;
}

@media (min-width:979px) {
  .header_top_call_us_resp {
      display: none;
  }
  .buttons_line_container {

  display: none;
  }
  .header_top {
    height: 80px;
  }
}
.buttons_line_container {
  height: 150px;
  width: 100%;
  //background-color: rgba(255, 0, 0, 0.42);
  position: absolute;
  left: 18%;
  width: 73%;
  z-index: 2000;
  top: 39px;
}
.button_one {
  @include buttons5;
  z-index: 999999;
  margin-top: 78px;
  //position: absolute;
  bottom:20px;
  //right: 3%;
  height: 41px;
  float: right;
}
.button_two {
  float: right;
  margin-top: 78px;
  margin-right: 14px;
  @include buttons5;
  z-index: 999999;
  //position: absolute;
  //bottom:20px;
  //right: 43%;
  height: 41px;
}
@media (max-width: 575px) {
  .button_one {
    margin-right: 0px;
    margin-top: 111px;
  }
  .button_two {
    margin-right: -195px;
  }
  .buttons_line_container {
    top: -21px;
  }
}
@media (max-width:600px) {
    .logo {
    }
    .header_top_call_us_inside {
        display: none;
    }
    .navbar .btn-navbar {
        float: left!important;
    }
    .header_top_phone_number  {
        margin-top: 12px;
        width: 200px;
        font-family: Arial, verdana, sans-serif;
        font-size: 20px;
        color: #606060;
    }
    .header_top_phone_logo {
        position: relative;
        float: left;
        margin-left: 28%;
        position: absolute;
        right:0px;
        top: 0px;
    }
}
@keyframes monkey_anim {    
    0%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    4%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 1;}
    8%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    82%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    88%  {width: 352px;height: 424px;left: 282px;top: 72px;opacity: 0;}
    92%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    100%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0}}
@-webkit-keyframes monkey_anim {    
  0%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    4%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 1;}
    8%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    82%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    88%  {width: 352px;height: 424px;left: 282px;top: 72px;opacity: 0;}
    92%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    100%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0}} 
@-ms-keyframes monkey_anim {    
  0%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    4%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 1;}
    8%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    82%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    88%  {width: 352px;height: 424px;left: 282px;top: 72px;opacity: 0;}
    92%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    100%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0}} 
@-moz-keyframes monkey_anim {    
  0%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    4%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 1;}
    8%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    82%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    88%  {width: 352px;height: 424px;left: 282px;top: 72px;opacity: 0;}
    92%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    100%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0}} 
@-o-keyframes monkey_anim {    
  0%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    4%    {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 1;}
    8%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    82%  { width: 352px;height: 424px;left: 338px;top: 22px;opacity: 1;}
    88%  {width: 352px;height: 424px;left: 282px;top: 72px;opacity: 0;}
    92%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0;}
    100%  {width: 307px;height: 176px;left: 731px;top: 161px;opacity: 0}} 


@keyframes slider_text_anim {
    0%   {right:6px; opacity: 0;}
    8%  {right:38px; opacity: 1;}
    52%  {right:38px; opacity: 1;}
    60% {right:6px; opacity: 0;}
    76% {right:6px; opacity: 0;}
    100% {right:6px; opacity: 0;}
}
@-webkit-keyframes slider_text_anim {
    0%   {right:6px; opacity: 0;}
    8%  {right:38px; opacity: 1;}
    52%  {right:38px; opacity: 1;}
    60% {right:6px; opacity: 0;}
    76% {right:6px; opacity: 0;}
    100% {right:6px; opacity: 0;}
}
@-moz-keyframes slider_text_anim {
    0%   {right:6px; opacity: 0;}
    8%  {right:38px; opacity: 1;}
    52%  {right:38px; opacity: 1;}
    60% {right:6px; opacity: 0;}
    76% {right:6px; opacity: 0;}
    100% {right:6px; opacity: 0;}
}
@-ms-keyframes slider_text_anim {
    0%   {right:6px; opacity: 0;}
    8%  {right:38px; opacity: 1;}
    52%  {right:38px; opacity: 1;}
    60% {right:6px; opacity: 0;}
    76% {right:6px; opacity: 0;}
    100% {right:6px; opacity: 0;}
}
@-o-keyframes slider_text_anim {
    0%   {right:6px; opacity: 0;}
    8%  {right:38px; opacity: 1;}
    52%  {right:38px; opacity: 1;}
    60% {right:6px; opacity: 0;}
    76% {right:6px; opacity: 0;}
    100% {right:6px; opacity: 0;}
}

@keyframes gifts_anim {
    0%   {opacity: 0;}
    8%  {opacity: 1;}
    52%  {opacity: 1;}
    60% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes gifts_anim {
    0%   {opacity: 0;}
    8%  {opacity: 1;}
    52%  {opacity: 1;}
    60% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}
@-moz-keyframes gifts_anim {
    0%   {opacity: 0;}
    8%  {opacity: 1;}
    52%  {opacity: 1;}
    60% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}
@-ms-keyframes gifts_anim {
    0%   {opacity: 0;}
    8%  {opacity: 1;}
    52%  {opacity: 1;}
    60% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}
@-o-keyframes gifts_anim {
    0%   {opacity: 0;}
    8%  {opacity: 1;}
    52%  {opacity: 1;}
    60% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slider_site_anim {
    0%   {right:124px; opacity: 0;}
    8%   {right:124px; opacity: 0;}
    16%  {right:83px; opacity: 1;}
    60%  {right:83px; opacity: 1;}
    68%  {right:124px; opacity: 0;}
    76%  {right:124px; opacity: 0;}
    100% {right:124px; opacity: 0;}
}
@-webkit-keyframes slider_site_anim {
    0%   {right:124px; opacity: 0;}
    8%   {right:124px; opacity: 0;}
    16%  {right:83px; opacity: 1;}
    60%  {right:83px; opacity: 1;}
    68%  {right:124px; opacity: 0;}
    76%  {right:124px; opacity: 0;}
    100% {right:124px; opacity: 0;}
}
@-moz-keyframes slider_site_anim {
    0%   {right:124px; opacity: 0;}
    8%   {right:124px; opacity: 0;}
    16%  {right:83px; opacity: 1;}
    60%  {right:83px; opacity: 1;}
    68%  {right:124px; opacity: 0;}
    76%  {right:124px; opacity: 0;}
    100% {right:124px; opacity: 0;}
}
@-ms-keyframes slider_site_anim {
    0%   {right:124px; opacity: 0;}
    8%   {right:124px; opacity: 0;}
    16%  {right:83px; opacity: 1;}
    60%  {right:83px; opacity: 1;}
    68%  {right:124px; opacity: 0;}
    76%  {right:124px; opacity: 0;}
    100% {right:124px; opacity: 0;}
}
@-o-keyframes slider_site_anim {
    0%   {right:124px; opacity: 0;}
    8%   {right:124px; opacity: 0;}
    16%  {right:83px; opacity: 1;}
    60%  {right:83px; opacity: 1;}
    68%  {right:124px; opacity: 0;}
    76%  {right:124px; opacity: 0;}
    100% {right:124px; opacity: 0;}
}

@keyframes slider_logo_anim {
    0%   {left:18px; opacity: 0;}
    8%   {left:18px; opacity: 0;}
    16%  {left:50px; opacity: 1;}
    60%  {left:50px; opacity: 1;}
    68%  {left:18px; opacity: 0;}
    76%  {left:18px; opacity: 0;}
    100% {left:18px; opacity: 0;}
}
@-webkit-keyframes slider_logo_anim {
    0%   {left:18px; opacity: 0;}
    8%   {left:18px; opacity: 0;}
    16%  {left:50px; opacity: 1;}
    60%  {left:50px; opacity: 1;}
    68%  {left:18px; opacity: 0;}
    76%  {left:18px; opacity: 0;}
    100% {left:18px; opacity: 0;}
}
@-moz-keyframes slider_logo_anim {
    0%   {left:18px; opacity: 0;}
    8%   {left:18px; opacity: 0;}
    16%  {left:50px; opacity: 1;}
    60%  {left:50px; opacity: 1;}
    68%  {left:18px; opacity: 0;}
    76%  {left:18px; opacity: 0;}
    100% {left:18px; opacity: 0;}
}

@-ms-keyframes slider_logo_anim {
    0%   {left:18px; opacity: 0;}
    8%   {left:18px; opacity: 0;}
    16%  {left:50px; opacity: 1;}
    60%  {left:50px; opacity: 1;}
    68%  {left:18px; opacity: 0;}
    76%  {left:18px; opacity: 0;}
    100% {left:18px; opacity: 0;}
}

@-o-keyframes slider_logo_anim {
    0%   {left:18px; opacity: 0;}
    8%   {left:18px; opacity: 0;}
    16%  {left:50px; opacity: 1;}
    60%  {left:50px; opacity: 1;}
    68%  {left:18px; opacity: 0;}
    76%  {left:18px; opacity: 0;}
    100% {left:18px; opacity: 0;}
}


@keyframes express_anim {
    0%   {right:11px; opacity: 0;}
    16%  {right:11px; opacity: 0;}
    24%  {right:83px; opacity: 1;}
    68%  {right:83px; opacity: 1;}
    76%  {right:11px; opacity: 0;}
    100% {right:11px; opacity: 0;}
}
@-webkit-keyframes express_anim {
    0%   {right:11px; opacity: 0;}
    16%  {right:11px; opacity: 0;}
    24%  {right:83px; opacity: 1;}
    68%  {right:83px; opacity: 1;}
    76%  {right:11px; opacity: 0;}
    100% {right:11px; opacity: 0;}
}
@-moz-keyframes express_anim {
    0%   {right:11px; opacity: 0;}
    16%  {right:11px; opacity: 0;}
    24%  {right:83px; opacity: 1;}
    68%  {right:83px; opacity: 1;}
    76%  {right:11px; opacity: 0;}
    100% {right:11px; opacity: 0;}
}
@-ms-keyframes express_anim {
    0%   {right:11px; opacity: 0;}
    16%  {right:11px; opacity: 0;}
    24%  {right:83px; opacity: 1;}
    68%  {right:83px; opacity: 1;}
    76%  {right:11px; opacity: 0;}
    100% {right:11px; opacity: 0;}
}
@-o-keyframes express_anim {
    0%   {right:11px; opacity: 0;}
    16%  {right:11px; opacity: 0;}
    24%  {right:83px; opacity: 1;}
    68%  {right:83px; opacity: 1;}
    76%  {right:11px; opacity: 0;}
    100% {right:11px; opacity: 0;}
}
 .slider_ny_1 {
  background-image: url(/assets/slider.png);
  width: 1060px;
  margin: auto;
  height: 446px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: contain;
 }
 .slider_ny_2 {
  background-image: url(/assets/slider_ny.png);
  width: 1060px;
  margin: auto;
  height: 638px;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .moz {
  -moz-animation-duration: 26s;
  -moz-animation-delay: 3s;
  -moz-animation-iteration-count: infinite;
 }
 .ms {
  -ms-animation-duration: 26s;
  -ms-animation-delay: 3s;
  -ms-animation-iteration-count: infinite;
 }
 .o {
  -o-animation-duration: 26s;
  -o-animation-delay: 3s;
  -o-animation-iteration-count: infinite;
 }
.webkit {
  -webkit-animation-duration: 26s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
 }
 .default {
  animation-duration: 26s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
 }
 .slider_text {
  background-image: url(/assets/descr.png);
  width: 411px;
  height: 181px;
  right:6px; 
  opacity: 0;
  position: absolute;
  margin-top: 156px;
  background-size: contain;
  width: 361px;
  background-repeat: no-repeat;
  -webkit-animation-name: slider_text_anim;
  -moz-animation-name: slider_text_anim;
  -ms-animation-name: slider_text_anim;
  -o-animation-name: slider_text_anim;
  animation-name: slider_text_anim;
} 
  .slider_site {
    position: absolute;
    right: 124px;
    background-image: url(/assets/me31.png);
    height: 36px;
    width: 274px;
    bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-animation-name: slider_site_anim;
    -moz-animation-name: slider_site_anim;
    -ms-animation-name: slider_site_anim;
    -o-animation-name: slider_site_anim;
    animation-name: slider_site_anim;
  }
  .logo_ny {
    position: absolute;
    background-image: url(/assets/me31_logo_ny.png);
    width: 307px;
    height: 114px;
    left: 18px;
    top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-animation-name: slider_logo_anim;
    -moz-animation-name: slider_logo_anim;
    -ms-animation-name: slider_logo_anim;
    -o-animation-name: slider_logo_anim;
    animation-name: slider_logo_anim;
  }
  .monkey {
    position: absolute;
    background-image: url(/assets/monkey.png);
    width: 307px;height: 176px;left: 731px;top: 161px;
    background-repeat: no-repeat;
    opacity: 0;
    background-size: contain;
    -webkit-animation-name: monkey_anim;
    -moz-animation-name: monkey_anim;
    -ms-animation-name: monkey_anim;
    -o-animation-name: monkey_anim;
    animation-name: monkey_anim;

    -moz-animation-duration: 26s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-duration: 26s;
    -ms-animation-delay: 1s;
    -ms-animation-iteration-count: infinite;
    -o-animation-duration: 26s;
    -o-animation-delay: 1s;
    -o-animation-iteration-count: infinite;
    -webkit-animation-duration: 26s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 26s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  .gifts {
    background-image: url(/assets/gifts.png);
    width: 411px;
    height: 279px;
    left: 84px;
    opacity: 0;
    position: absolute;
    margin-top: 156px;
    background-size: contain;
    width: 361px;
    background-repeat: no-repeat;
    -webkit-animation-name: gifts_anim;
    -moz-animation-name: gifts_anim;
    -ms-animation-name: gifts_anim;
    -o-animation-name: gifts_anim;
    animation-name: gifts_anim;
  }
  .express {
    position: absolute;
    background-image: url(/assets/express.png);
    height: 117px;
    width: 200px;
    top: 29px;
    right: 11px;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-name: express_anim;
    -moz-animation-name: express_anim;
    -ms-animation-name: express_anim;
    -o-animation-name: express_anim;
    animation-name: express_anim;
  }
  .preload * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
  }