/*Menu*/

.navbar {
   position: relative;
   right: -10px;
}
@media (max-width:980px) {
  .navbar {
    right: 0px;
  }
}
.navbar,
.navbar-inner,
.nav,
.navbar-inverse {
    background:#fff;
    filter:none;
    border:none;
    padding:0;
    margin:0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav i.icon-sort-up {
    position:absolute;
    font-size:13px;
    bottom:-6px;
}

.navbar-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar .nav > li {
    display:block;
    position:relative;
}
.navbar .nav > li > a {
    display:block;
    font-size:18px;
    font-weight:400;
    color: #687074;
    text-shadow:none;
    padding:9px 15px;
    border-bottom:solid 2px #eee;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
@media (max-width: 1200px) {
    .navbar .nav > li > a {
      padding: 9px 15px;
    }
}

.collapse.in ul {
    margin-top:10px !important;
}

.collapse.in li a {
    padding:0 10px;
    border-bottom:solid 1px #eee;
    background:none;
}

.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle {
    border-bottom:solid 1px #e67e22 !important;
    background:none;
}

.collapse.in ul.dropdown-menu {
    margin-bottom:5px;
}

.collapse.in ul.dropdown-menu a {
    padding:5px;
    border-bottom:solid 1px #bbb;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    margin:0 !important;
    border-radius:0 !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #e67e22;
    border-bottom:solid 2px #e67e22;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
    color:#e67e22;
    text-decoration:none;
    border-bottom:solid 2px #e67e22;
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.navbar .nav > .active > a:hover {
    color:#e67e22;
    background:none;
    border-bottom:solid 2px #e67e22;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/*Arrow for menu*/
.navbar .nav > li > a .caret {
    margin:9px 0 0 3px !important;
    border-top-color: #e67e22!important;
    border-bottom-color: #e67e22 !important;
}

/*Dropdown Menu*/
.dropdown-menu {
    padding:0;
    border:none;
    margin-top:-2px;
    min-width:200px;
    border-radius:0;
    border-top:solid 2px #e67e22;
    border-bottom:solid 2px #687074;
    z-index: 9999 !important;
}
.dropdown-menu li a {
    color:#687074;
    font-size:13px;
    font-weight:400;
    padding:6px 15px;
    border-bottom:solid 1px #eee;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color:#ffffff;
    background:#e67e22!important;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    filter:none !important;
}

.dropdown-menu .active > a {
    color:#ffffff !important;
    background: #cc7023 !important;
    filter:none !important;
}

.navbar .btn-navbar {
    padding:10px 15px;
    margin-top:1px;
    margin-right:7px;
    background:#e67e22;
    border:none !important;
}
.navbar .btn-navbar:hover {
    background: #d87b22;
}
.navbar .btn-navbar span,
.navbar .btn-navbar:hover span {
    background:#fff !important;
    box-shadow:none !important;
}

.navbar .nav > li > .dropdown-menu:after {
    left:19px;
}
.navbar .nav > li > .dropdown-menu:before {
    left:18px;
    border-bottom:none;
}
.navbar .nav > li > .dropdown-menu:after {
    left:19px;
    border-top-color: #e67e22 !important;
    border-bottom-color: #e67e22 !important;
}

/*Serach*/
.navbar .search-open {
    right:0;
    top:44px;
    display:none;
    padding:15px;
    position:absolute;
    background:#fcfcfc;
    border-top:solid 2px #eee;
}

.navbar .search-open form,
.navbar .search-open .input-append {
    margin:0 !important;
}

.navbar a.search i.icon-remove {
    top:2px;
    font-size:18px;
    position:relative;
}

.navbar .nav > li > a.search {
    color:#aaa;
    cursor:pointer;
    background:#f7f7f7;
    padding:8px 12px 10px;
    border-bottom-color:#aaa;
}
.navbar .nav > li > a.search:hover {
    color: #e67e22;
    border-bottom-color: #e67e22;
}

/*Fancybox for gallery page*/
.fancybox-overlay.fancybox-overlay-fixed {
    z-index:9999;
}

.pipe {
 color:#687074;
 position: absolute;
 margin-top: 6px;
 font-size: 20px;
}

