@import "compass";
$short-sprite-dimensions: true;

@mixin input-placeholder($color,$style,$weight) {
  &::-webkit-input-placeholder{color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:placeholder{color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:-ms-input-placeholder {color:$color !important; font-style:$style !important; font-weight:$weight !important;}
  &:-moz-placeholder {color:$color !important; font-style:$style !important; font-weight:$weight !important;}
}

.request {
  width:500px;
  margin:0 auto;
  //background-color: rgba(63, 156, 255, 0.15);
  position:relative;
  padding:20px 0 0;
  @include border-radius(6px);
  margin-top:50px;
  @include box-sizing(border-box);
}
.request_lable {
  font-family: Verdana, Geneva, Kalimati, sans-serif;
  font-size: 20px;
  color: #666666;
}
.field select {
  width: 161px;
  //margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.field .field_with_errors .message {
  margin-left: 1px;
  color: red;
}
.request-control {
  @include input-placeholder(#cccccc,italic,200);
}

.field input[type=text] {
  border:4px solid #d5d5d5 !important;
  height: 48px !important;
  width: 500px;
  @include border-radius(6px);
  font-size: 20px;
}

.field input[type=email] {
  border:4px solid #d5d5d5 !important;
  height: 48px !important;
  width: 500px;
  @include border-radius(6px);
  font-size: 20px;
}

.field input:focus {
  border:4px solid #d5d5d5 !important;
}

.field textarea {
  @include border-radius(6px);
  border:4px solid #d5d5d5 !important;
  font-size: 19px;
}

.field textarea:focus {
  border:4px solid #d5d5d5 !important;
}

.input-block-level.feedback-control.contact_textarea {
  width: 700px;
  height: 200px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;

}
.contacts_form {
  margin-top: 30px;
  margin-bottom: 100px;
}


.feedback-notification {
  margin:0 auto;
  width:330px;
}

.feedback-form {margin: 0;}

.input-block-level.request_textarea {
  height: 300px;
}

//.submit_button {
//  @include border-radius(6px);
//  font-family: Verdana, Geneva, Kalimati, sans-serif;
//  font-size: 15px;
//  width: 150px!important;
//  height: 40px;
//  background-color: #E09271;
//  color: #f6f6f6;
//  border-style: none;
//  border: 2px solid #d5d5d5 ;
//}

.submit_button:hover {
  color: #fff;
  border: 1px solid #888888;
  background-color: #e89a79;
}

